In [15]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [16]:
import webbrowser
website='https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [17]:
'''Pandas allows you to load data from your clipboard into a 
dataframe'''
nfl_frame=pd.read_clipboard()

In [18]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North

In [19]:
'''You can display all column names using .columns'''
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [20]:
'''You can dispay individual column names'''
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: Rank, dtype: int64

In [21]:
nfl_frame['First NFL Season']

0    1960
1    1921
2    1920
3    1966
4    1960
5    1925
6    1960
7    1961
8    1996
Name: First NFL Season, dtype: int64

In [22]:
'''Loading multiple columns'''
DataFrame(nfl_frame,columns=['Team','First NFL Season','Total Games'])

                   Team  First NFL Season Total Games
0        Dallas Cowboys              1960         866
1     Green Bay Packers              1921       1,320
2         Chicago Bears              1920       1,354
3        Miami Dolphins              1966         784
4  New England Patriots              1960         868
5       New York Giants              1925       1,289
6        Denver Broncos              1960         868
7     Minnesota Vikings              1961         854
8      Baltimore Ravens              1996         336

In [23]:
DataFrame(nfl_frame,columns=['Team','First NFL Season','Total Games','Stadium'])

                   Team  First NFL Season Total Games  Stadium
0        Dallas Cowboys              1960         866      NaN
1     Green Bay Packers              1921       1,320      NaN
2         Chicago Bears              1920       1,354      NaN
3        Miami Dolphins              1966         784      NaN
4  New England Patriots              1960         868      NaN
5       New York Giants              1925       1,289      NaN
6        Denver Broncos              1960         868      NaN
7     Minnesota Vikings              1961         854      NaN
8      Baltimore Ravens              1996         336      NaN

In [24]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North

In [25]:
'''based on row indexes'''
nfl_frame.ix[7]

Rank                                8
Team                Minnesota Vikings
Won                               457
Lost                              387
Tied                               10
Pct.                            0.541
First NFL Season                 1961
Total Games                       854
Division                    NFC North
Name: 7, dtype: object

In [26]:
nfl_frame['Stadium']= "Levi's Stadium"

In [27]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,Levi's Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Levi's Stadium
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Levi's Stadium
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levi's Stadium
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levi's Stadium
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,Levi's Stadium
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,Levi's Stadium
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,Levi's Stadium
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,Levi's Stadium

In [30]:
nfl_frame['Stadium']=np.arange(9)

In [31]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,0
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,1
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,2
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,3
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,4
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,5
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,6
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,7
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,8

In [34]:
'''Adding a Series to a dataframe:'''
stadiums=Series(["Levi's Stadium","AT&T Stadium"],index=[8,0])

In [35]:
stadiums

8    Levi's Stadium
0      AT&T Stadium
dtype: object

In [36]:
'''Now, we call the dataFrame and its column to which we want to 
assign this Series'''
nfl_frame['Stadium']=stadiums

In [37]:
'''
Python is very good at handling null values:
'''
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,AT&T Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,NaN
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,NaN
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West,NaN
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,NaN
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,Levi's Stadium

In [38]:
'''we can also delete entire columns:'''
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North

In [39]:
'''We can construct DataFrames by passing Dictionaries'''
data={'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}
data #data is a dictionary

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [40]:
'''We can make data into a dataframe by simply callig the DataFrame function:'''
city_frame=DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [41]:
'''More functions on Pandas:'''
website ='http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html'
webbrowser.open(website)

True